@import "./base.css";


.about-me-content {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    text-align: center;
}

.title{
    text-align: center;
    margin: 0.5rem;
    font-size: 1.5rem;
}

.video {
    display: inline;
    width: 400px;
    height: 190px;
}

.github-icon {
    vertical-align: middle;
}

.projects-title {
    text-align: center;
    font-weight: bold;
}

.projects-content{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.video-github {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.github-source {
    color: #3590F3;
    margin: 0.25rem;
}

.project-brief {
    white-space: pre-wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    width: 50%;
}

.read-more {
    text-align: center;
    display: block;
    color: #3590F3;
    font-weight: bold;
}

.read-more-container {
    display: flex;
    justify-content: center;
}

.contact-content {
    text-align: center;
}

.footer-contact {
    background: white;
}

header {
    background: white;
}

main {
    background: white;
}

.general-container {
    box-shadow: 0px 0px 5px rgb(180, 180, 180);
    margin: 1rem;
    padding: 1rem;
    margin-top: 0;
}

div.rule {
    height: 3px;
    background: rgb(220, 220, 230);
    width: 85%;
    margin: 1rem auto;
    border-radius: 10px;
}

hr {
    display: none;
}

.project-technologies {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;;
    padding: 0;
    margin: 0;
}

.tech-container {
    text-align: center;
    margin: 0.5rem;
}

.tech-container p {
    font-weight: bold;
}

.item-tech {
    margin: 0.25rem;
}

.linkedin-icon {
    vertical-align: middle;
}

.linkedin-container a {
    color: #3590F3;
}

@media screen and (min-width:0px) and (max-width:700px){
    .lang-ul {
        margin-right: 0;
    }

    .project-brief {
        width: 100%;
    }

    .video {
        display: inline;
        width: 100%;
    }

    .video-github: {
        width: 400px;
    }
}
