@import "./base.css";

.slide-fade-in {
  animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slide-fade-out {
  animation: fadeOut 0.3s ease-in;
  animation-fill-mode: forwards;
}


@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.slide-info {
  position: absolute;
  top: 100%;
  transform: translateY(-100%);
}

.about-me-content {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    text-align: center;
}

.title{
    text-align: center;
    margin: 0.5rem;
    font-size: 1.5rem;
}

.video {
    display: inline;
    width: 400px;
    height: 190px;
}

.github-icon {
    vertical-align: middle;
}

.projects-title {
    text-align: center;
    font-weight: bold;
}

.projects-content{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: 45px;
}

.projects-container {
  background: var(--project-bg-color);
}

.video-github {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.github-source {
    color: #3590F3;
    margin: 0.25rem;
}

.project-brief {
    white-space: pre-wrap;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    width: 50%;
}

.read-more {
    text-align: center;
    display: block;
    color: #3590F3;
    font-weight: bold;
}

.read-more-container {
    display: flex;
    justify-content: center;
}

.contact-content {
    text-align: center;
}

.general-container {
  color: var(--main-font-color);
}

div.rule {
    height: 3px;
    background: rgb(220, 220, 230);
    width: 85%;
    margin: 1rem auto;
    border-radius: 10px;
}

hr {
    display: none;
}

.project-technologies {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;;
    padding: 0;
    margin: 0;
}

.tech-container {
    text-align: center;
    margin: 0.5rem;
}

.tech-container p {
    font-weight: bold;
}

.item-tech {
    margin: 0.25rem;
}

.linkedin-icon {
    vertical-align: middle;
}

.linkedin-container a {
    color: #3590F3;
}

.arrow-button {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.arrow-button path {
  fill: white;
}

@media screen and (min-width:0px) and (max-width:700px){
    .lang-ul {
        margin-right: 0;
    }

    .project-brief {
        width: 100%;
    }

    .video {
        display: inline;
        width: 100%;
    }

    .video-github {
        width: 400px;
    }


    .projects-content{
      height: 460px;
    }
}


@media screen and (min-width:700px) and (max-width:1035px){
    .projects-content{
      height: 480px;
    }
}
